<nav class="navbar navbar-expand-lg navbar-light mb-5 px-5" style="background-color: #ddeaf6; font-size: 17px;">
  <a class="navbar-brand h1 font-italic" styl href="{{url_for('main.home')}}" style="font-size: 27px !important;">ClAir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="main-nav">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if request.endpoint == 'main.home' %}
        <a class="nav-item nav-link active font-weight-bold text-success" href="{{url_for('main.home')}}">Dashboard</a>
      {% else %}
        <a class="nav-item nav-link" href="{{url_for('main.home')}}">Dashboard</a>
      {% endif %}
      {% if request.endpoint == 'permit.new_permit' %}
        <a class="nav-item nav-link active text-success" href="{{url_for('permit.new_permit')}}">Create New Permit Request</a>
      {% else %}
        <a class="nav-item nav-link" href="{{url_for('permit.new_permit')}}">Create New Permit Request</a>
      {% endif %}
    </div>
  </div>
</nav>