<nav class="navbar navbar-expand-lg navbar-light mb-5 px-5" style="background-color: #ddeaf6; font-size: 17px;">
  <a class="navbar-brand" href="{{url_for('main.home')}}">
      <img src="{{ url_for('static', filename='images/logo-colour-cropped.svg') }}" class="nav-logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div class="collapse navbar-collapse" id="main-nav">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if request.endpoint == 'main.home' %}
        <a class="nav-item nav-link active font-weight-bold text-success" href="{{url_for('main.home')}}">Dashboard</a>
      {% else %}
        <a class="nav-item nav-link" href="{{url_for('main.home')}}">Dashboard</a>
      {% endif %}
      {% if request.endpoint == 'planning_application_views.new_application' %}
        <a class="nav-item nav-link active font-weight-bold text-success" href="{{url_for('planning_application_views.new_application')}}">New Planning Application</a>
      {% else %}
        <a class="nav-item nav-link" href="{{url_for('planning_application_views.new_application')}}">New Planning Application</a>
      {% endif %}
      {% if current_user.role == 'ADMIN' %}
        {% if request.endpoint == 'admin_views.air_quality_upload' %}
            <a class="nav-item nav-link active font-weight-bold text-success" href="{{url_for('admin_views.air_quality_upload')}}">Air Quality Upload</a>
        {% else %}
            <a class="nav-item nav-link" href="{{url_for('admin_views.air_quality_upload')}}">Air Quality Upload</a>
        {% endif %}
      {% endif %}
    </div>
    <a class="nav-item nav-link" href="{{url_for('main.logout')}}">Logout</a>
  </div>
</nav>