{% extends 'base.html' %}
{% block title %}New Permit Request{% endblock title%}
{% block content%}
  {% from "__formfieldhelper.html" import render_field, render_field_with_errors%}
<div class="row justify-content-center align-items-center h-100">
  <div class="content col-12">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-end">
            <span class="col-7 h3">BUILDING PERMIT REQUEST</span>
            <span class="col-3 h5">Requester: Default User</span>
            <span class="col-2 h5">Date: {{current_date}}</span>
        </div>
        <hr class="mt-1"/>
        <form method="POST" action="{{ url_for('.new_application') }}" novalidate>
          <div class="row justify-content-around">
            {{ permit_form.csrf_token }}
            <div class="col-5">
              <div class="row mt-2 mb-4" style="transform: skewX(-10deg); height: 4em;">
                <span class="col-11 bg-success text-white h4 text-center">
                  <span class="row h-100 align-items-center">
                    <span class="col-12">
                      LOCATION DETAILS
                    </span>
                  </span>
                </span>
              </div>
              {% if permit_form.parish.errors %}
                {{ render_field_with_errors(permit_form.parish, class='form-control col-6 is-invalid') }}
              {% else %}
                {{ render_field(permit_form.parish, class='form-control col-6') }}
              {% endif %}
              {% if permit_form.town.errors %}
                {{ render_field_with_errors(permit_form.town, class='form-control col-6 is-invalid') }}
              {% else %}
                {{ render_field(permit_form.town, class='form-control col-6') }}
              {% endif %}
              {% if permit_form.area_name.errors %}
                {{ render_field_with_errors(permit_form.area_name, class='form-control col-6 is-invalid') }}
              {% else %}
                {{ render_field(permit_form.area_name, class='form-control col-6') }}
              {% endif %}
              {% if permit_form.square_footage.errors %}
                {{ render_field_with_errors(permit_form.square_footage, class='form-control col-6 is-invalid') }}
              {% else %}
                {{ render_field(permit_form.square_footage, class='form-control col-6') }}
              {% endif %}
            </div>
            <div class="col-7">
              <div class="row mt-2 mb-4" style="transform: skewX(-10deg); height: 4em;">
                <span class="col-12 bg-success text-white h4 text-center">
                  <span class="row h-100 align-items-center">
                    <span class="col-12">
                      AIR QUALITY DETAILS
                    </span>
                  </span>
                </span>
              </div>
              <div class="row">
                <div class="col-6">
                  {% if permit_form.AQI.errors %}
                    {{ render_field_with_errors(permit_form.AQI, class='form-control col-6 is-invalid') }}
                  {% else %}
                    {{ render_field(permit_form.AQI, class='form-control col-6') }}
                  {% endif %}
                  {% if permit_form.PM25.errors %}
                    {{ render_field_with_errors(permit_form.PM25, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.PM25, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                  {% if permit_form.PM10.errors %}
                    {{ render_field_with_errors(permit_form.PM10, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.PM10, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                  {% if permit_form.CO.errors %}
                    {{ render_field_with_errors(permit_form.CO, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.CO, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                </div>
                <div class="col-6">
                  {% if permit_form.NO2.errors %}
                    {{ render_field_with_errors(permit_form.NO2, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.NO2, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                  {% if permit_form.SO2.errors %}
                    {{ render_field_with_errors(permit_form.SO2, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.SO2, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                  {% if permit_form.O3.errors %}
                    {{ render_field_with_errors(permit_form.O3, class='form-control col-6 is-invalid', is_pollutant=True) }}
                  {% else %}
                    {{ render_field(permit_form.O3, class='form-control col-6', is_pollutant=True) }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mt-2">
            {{ permit_form.submit(class="col-2 btn btn-lg btn-outline-info") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/new_permit.js') }}"></script>
{% endblock scripts %}