{% extends 'base.html' %}
{% block title %}Planning Application - {{application.area_name}}{% endblock title%}
{% block links %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/planning_application.css') }}">
{% endblock links %}
{% block content%}
<div class="row justify-content-center align-items-center h-100">
  <div class="content col-12">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-end">
            <span class="col-7 h3">Planning Application</span>
            <span class="col-3 h5">Requestor: {{requester.username}}</span>
            <span class="col-2 h5">Date: {{request_date}}</span>
        </div>
        <hr class="mt-1"/>
        <div class="row">
          <div class="col-5">
            <div class="row mt-2 mb-4" style="transform: skewX(-10deg); height: 4em;">
              <span class="col-11 bg-success text-white h4 text-center">
                <span class="row h-100 align-items-center">
                  <span class="col-12">
                    LOCATION DETAILS
                  </span>
                </span>
              </span>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="row justify-content-center form-group">
                  <span class="col-4">Parish</span>
                  <span class="col-5 bg-white" style="height: 2rem;">
                    <div class="row justify-content-center align-items-center" style="height:100%;">
                        <span>{{application.town.parish.name}}</span>
                    </div>
                  </span>
                </div>
                <div class="row justify-content-center form-group">
                  <span class="col-4">Town</span>
                  <span class="col-5 bg-white" style="height: 2rem;">
                    <div class="row justify-content-center align-items-center" style="height:100%;">
                      <span>{{application.town.name}}</span>
                    </div>
                  </span>
                </div>
                <div class="row justify-content-center form-group">
                  <span class="col-4">Area Name</span>
                  <span class="col-5 bg-white" style="height: 2rem;">
                    <div class="row justify-content-center align-items-center" style="height:100%;">
                      <span>{{application.area_name}}</span>
                    </div>
                  </span>
                </div>
                <div class="row justify-content-center form-group">
                  <span class="col-4">Square Footage</span>
                  <span class="col-5 bg-white" style="height: 2rem;">
                    <div class="row justify-content-center align-items-center" style="height:100%;">
                      <span>{{application.square_footage | round(2)}}</span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="row mt-2 mb-4" style="transform: skewX(-10deg); height: 4em;">
              <span class="col-12 bg-success text-white h4 text-center">
                <span class="row h-100 align-items-center">
                  <span class="col-12">
                    AIR QUALITY DETAILS
                  </span>
                </span>
              </span>
            </div>
            <div class="row">
              <div class="col-6">
                {% for pollutant in application.pollutants[:4] %}
                  <div class="row justify-content-center form-group">
                    <span class="col-4">{{pollutant.pollutant_id}}</span>
                    <span class="col-7 bg-white" style="height: 2rem;">
                      <div class="row justify-content-center align-items-center" style="height:100%;">
                        {{pollutant.pollutant_level | round(2)}}
                        {% if pollutant.pollutant_id != 'AQI'%}
                          <span>&mu;/m<sup>3</sup></span>
                        {% endif %}
                      </div>
                    </span>
                  </div>
                {% endfor %}
              </div>
              <div class="col-6">
                {% for pollutant in application.pollutants[4:] %}
                  <div class="row justify-content-center form-group">
                    <span class="col-4">{{pollutant.pollutant_id}}</span>
                    <span class="col-7 bg-white" style="height: 2rem;">
                      <div class="row justify-content-center align-items-center" style="height:100%;">
                        {{pollutant.pollutant_level | round(2)}} <span>&mu;/m<sup>3</sup></span>
                      </div>
                    </span>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row justify-content-end mt-2">
              <input class="col-4 btn btn-lg btn-outline-info" type="button" value="Generate Report"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}